.jumbotron {
  padding-top: 6rem;
  background-color: #95c1df83;
}

#projects {
  background-color: #95c1df83;
}

Section {
  padding-top: 6rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
